.navbar {
    text-align: center;
    color: #025157;
    font-weight: 500;
    margin-top: 50px;
    
/*     background-color: black;
 */ }
 .img{
     margin-right: 50px;
     margin-left: 100px;
 }

 .nav-item{
     margin: 15px;
     
 }
 .nav-link{
    color: #025157;
 }

 .btn-beefy {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1em;
    padding: 15px 20px;
    text-align: center;
    color: #fff;
    background: #025157;
    border-radius: 8px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
#get{
    margin-top: 12px;
}

#titulo{
    

    font-family: vesterbroextrabold;
    font-weight: 400px;
    line-height: 63px;
    font-size: 68px;
    text-align: left;
    letter-spacing: -3px;
    color: #025157;
    max-width: 560px;
    margin-bottom: 24px;
}

#gris{
    color: #46484c;
    line-height: 1.6em;
}

.btn2 {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1em;
    padding: 15px 20px;
    text-align: center;
    color: #fff;
    background: #67b54b;
    border-radius: 8px;
    transition: all .2s ease-in-out;
    margin-right: 20px;
}

#shop{
    margin-top: 45px;
    margin-bottom: 15px;
}

#sign_text{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    opacity: .4;
    color:  rgba(139,139,139,.8);
}

#hhh{
    margin-top: 100px;
}



.sect{
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1.4px;
    font-weight: 700;
    margin-bottom: 40px;
    opacity: .4;
}


.logos__img {
    margin-right: 60px;
   
}

.headalt {
    font-size: 55px;
    font-weight: 700;
    color: #025157;
    letter-spacing: -3px;
    font-family: vesterbroextrabold;
    font-weight: 400px;
    margin-top: 300px;
}

.head{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.figure{
    margin: 20px;
}
.h5{
    line-height: 1.5em;
    color: #212529;
    margin-top: 20px;
}
.h3{
    margin-top: 20px;
}
#www{
   display: flex;
   justify-content: space-around;
   margin-left: 100px;
   margin-right: 100px;
   font-size: large;
}
.mt-4{
    color: #7e7e7e;;
}
.h2{
    font-size: 55px;
    font-weight: 700;
    color: #025157;
    letter-spacing: -3px;
    font-family: vesterbroextrabold;
    font-weight: 400px;
    margin-top: 250px;
}
.header--alt {
    font-size: 55px;
    font-weight: 700;
    color: #025157;
    letter-spacing: -3px;
    font-family: vesterbroextrabold;
    font-weight: 400px;
}

.carousel-inner{
    margin-left: 150px;
    width: 400px;
    
}
.rrr{
    margin-left: 10px;
    margin-right:100px;
}
.card-title {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: #025157;
}
.customer-title {
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    color: #000;
    margin-bottom: 20px;
}
.card-results-text {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 19px;
    letter-spacing: -.5px;
    color: #828282;
    margin-right: 20px;
}
#Cart{
    width: 26px;
    height: 26px;
}
.carousel-item{
    padding: 20px;
    
}

.customer-cs-btn.btn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    background: #025157;
    border-radius: 5px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 13px;
    text-align: center;
    color: #fff;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
}
.ggg{
    margin-top: 200px;
}
.rrr{
    margin-top: 100px;
    margin-left: 20px;
}
.kkk{
    color: #4a4a4a;
    font-size: larger;
}